<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send PM</title>
</head>
<body>
    <h1>Send Private Message</h1>
    <form method="POST" action="">
        <label for="recipient">Recipient:</label>
        <input type="text" id="recipient" name="recipient" value="{{ recipient }}"><br><br>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" value="{{ subject }}"><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" cols="50">{{ content }}</textarea><br><br>

        <input type="submit" value="Send">
    </form>
</body>
</html>
